html.dark {
    // --text-color: #1a162e;
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7500%) hue-rotate(341deg) brightness(101%) contrast(94%);

    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
