<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Footer column 1 -->
            <div class="footer__col footer__col--form">
                <!-- Logo -->
                <a href="./" class="logo footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__title">grocerymart</h1>
                </a>
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                    voluptatibus.
                </p>
                <p class="footer__help-text">Receive product news and updates.</p>
                <form action="" class="footer__form">
                    <input type="email" name="" id="" class="footer__input" placeholder="Email address" />
                    <button class="btn btn--primary">SEND</button>
                </form>
            </div>
            <!-- Footer column 2 -->
            <div class="footer__col footer__col--list-1">
                <h3 class="footer__heading">SHOP</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">All Departments</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Fashion Deals</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Electronics Discounts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Home & Living Specials</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>
            <!-- Footer column 3 -->
            <div class="footer__col footer__col--list-2">
                <h3 class="footer__heading">SUPPORT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Store locator</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Order status</a>
                    </li>
                </ul>
            </div>
            <!-- Footer column 4 -->
            <div class="footer__col footer__col--list-3">
                <h3 class="footer__heading">COMPANY</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Customer Service</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Terms of Use</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Privacy</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <!-- Footer column 5 -->
            <div class="footer__col footer__col--list-4">
                <h3 class="footer__heading">CONTACT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <p class="footer__label">Email</p>
                        <a href="mailto:" class="footer__link">contact@grocerymart.com</a>
                    </li>
                    <li class="footer__item">
                        <p class="footer__label">Hotline</p>
                        <a href="" class="footer__link">18008888</a>
                    </li>
                    <li class="footer__item">
                        <p class="footer__label">Address</p>
                        <a href="" class="footer__link">
                            No. 11D, Lot A10, Nam Trung Yen <br />
                            urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                        </a>
                    </li>
                    <li class="footer__item">
                        <p class="footer__label">Hours</p>
                        <a href="" class="footer__link">M - F 08:00am - 06:00pm</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
            <div class="footer__socials">
                <div class="footer__social-link footer__social-link--ytb">
                    <a href="#!">
                        <img src="./assets/icons/ytb.svg" alt="" class="footer__social-icon" />
                    </a>
                </div>
                <div class="footer__social-link footer__social-link--fb">
                    <a href="#!">
                        <img src="./assets/icons/fb.svg" alt="" class="footer__social-icon" />
                    </a>
                </div>
                <div class="footer__social-link footer__social-link--in">
                    <a href="#!">
                        <img src="./assets/icons/in.svg" alt="" class="footer__social-icon" />
                    </a>
                </div>
                <div class="footer__social-link footer__social-link--tw">
                    <a href="#!">
                        <img src="./assets/icons/tw.svg" alt="" class="footer__social-icon" />
                    </a>
                </div>
                <div class="footer__social-link footer__social-link--tt">
                    <a href="#!">
                        <img src="./assets/icons/tt.svg" alt="" class="footer__social-icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
